@font-face {
    font-family: DistPro;
    src: url('../fonts/DistProTh.otf');
}

body {
/*	background-image: url('/images/sponsor.png');*/
    	background-color: rgba(170,90,227,0.1);

}

body::-webkit-scrollbar {
	width: 0px;
}


.sponsorHeading {
    text-align: center;
    padding-top: 8vh;
    margin: 0;

    /* get a cool font */
    font-family: DistPro;
    margin-bottom: -8vh;
}

h1 {
    font-size: 5em;
}
